node_modules
bower_components
.npm-cache
node_modules/
bower_components/
dist/
build/
buildsystem-test-results/
src/styles/
.sass-cache
npm-debug.log
cobertura-coverage.xml
html-report
lcov.info
report.xml

# This file is copied over from the plugin-build node module so that linting settings are centralized
.jshintrc


# Coverage directory used by tools like istanbul
coverage


# Generated Directories
.tmp/
tests/runner/reports/
html-report/
tests/runner/reports/**
app-server/dist/
static/dist/
static/client/styles/

#IDE Specific files

#SublimeText
*.sublime-project
*.sublime-workspace

#IntelliJ
.idea/
*.iml
atlassian-ide-plugin.xml
*.ipr
*.iws

#Eclipse
.project

#OSX
.DS_Store
